*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    text-align: center;
}

p{
    color: #40514E;
}

header{
    background-color: #EAF9F5;
    position: relative;
    padding-top: 100px;
}

.top-cloud{
    right: 300px;
    top: 50px;
    position: absolute;
}

h1{
    margin-bottom: 30px;
    font-family: 'Sacramento', cursive;
    font-size: 4em;
    color: #66BFBF;
    line-height: 2;
}

header h2{
    margin-bottom: 30px;
}

h2{
    font-size: 2.5em;
    font-weight: normal;
    color: #66BFBF;
    padding: 50px 0;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

h3, a{
    color: #11999E;
}

.my-photo{
    width: 250px;
    height: 250px;
    padding-top: 100px;
}

.middle-container p{
    padding-bottom: 50px;
}   

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto;
}

.skill-row{
    width: 50%;
    margin: 50px auto;
    text-align: left;
    line-height: 1.5;
}

.skill-image-top{
    float: left;
    margin-right: 30px;
}

.skill-image-bottom{
    float: right;
    margin-left: 30px;
}

.contact-me{
    margin-bottom: 50px;
}

.contact-me p{
    padding: 50px 0;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .bottom-container{
    background-color: #66BFBF;
    padding: 50px 0;
  }

  .footer-link{
    color: #11999E;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 20px;
  }

  .footer-link:hover{
    color: #EAF6F6;
  }

  .bottom-container p {
    padding: 50px 0;
    color: #EAF6F6;
  }

  .ref-links{
    color: #EAF6F6;
  }